# Django
SECRET_KEY=your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,backgroud-notification.roniahamed.com

# Database
DB_NAME=notification_db
DB_USER=postgres
DB_PASSWORD=admin
DB_HOST=db
DB_PORT=5432

# Redis
REDIS_URL=redis://redis:6379/0

# Email (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=test
EMAIL_HOST_PASSWORD=test
DEFAULT_FROM_EMAIL=test
SMTP_FROM_NAME=test

# Firebase (path inside container)
FIREBASE_CREDENTIALS_PATH=/app/serviceAccountKey.json
